@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

.App {
  text-align: center;
}

.header-container{
  background-color: cadetblue;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 15vh;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.header {
  width: 23vw;
  font-size: calc(10px + 2vmin);
  color: #31343a;
  padding-left: 10vw;
  padding-top:5vw ;
}

.circle-container{
  width:34vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.circle {
  margin-top: 150px;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.links {
display: flex;
justify-content: space-between;
width:13vw;
padding-top:6vw ;
padding-right: 10vw;
padding-left: 10vw;

}


.body{
  background-color: white;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.display{
  border-radius: 5px;
  background-color: #31343a;
  min-height: 40vh;
  width: 32vw;
  display: flex;
  flex-direction: column;
  align-items: right;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  font-size: 18px;
  font-family: 'Mukta', sans-serif;
}

.display-links{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
 padding-top: 3vh;
}

.selector{
  min-height: 40vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.button{
  background-color: #31343a ;
  border-radius: 5px ;
  height: 7vh;
  width: 35vw;
  color: white;
  font-size: calc(10px + 2vmin);
  border: none;
  font-family: 'Mukta', sans-serif;
}

.button:hover {
  background-color: #1d1f23;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.project-display{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

.project-card{
  width:15vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: #d9d9da;
  border-radius: 5px;
  margin-bottom: 50px;
  box-shadow: 0px 5px 8px 0 rgba(0,0,0,0.24);
  padding: 5px;
  
}
.project-card-image{
  width:14vw;
  height:auto;
}
.project-card:hover {
  color: white;
  background-color: #31343a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.form{
  width:20vw;
  display: flex;
  flex-direction: column;
}

footer{
  max-height: 10vh;
  display: flex;
  align-items: center;
 
}

